.circle {
    width: 100%; /* Use vmin to take the smaller of viewport width or height */
    height: 100%; /* Set the height the same as the width to make it perfectly round */
    background-color: #fcfcfc;
    /* border-radius: 50%; Makes the div a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent content overflow */
    box-sizing: border-box;
    position: relative;
    /* margin: 0.7rem; */
    box-shadow: inset 2px 4px 10px #807f7f;

  }

  .circleButton {
    width: 50%;
    height: 100%;
    color: black;
    justify-content: center;
    text-align: center;
    align-items:center;
    align-content:center;
    display: flex;
    opacity: 65%;

}

 .left{
  border-right: 2px solid rgb(182, 182, 182);

}
.right{
    border-left: 2px solid rgb(182, 182, 182);

  }